{% extends "base.html" %}
{% block title %}blog article{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="row text-center vertical-middle-sm">
    <h1>{{ article.title}}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center">
            <span>{{ article.author}}</span>
            <span style="margin-left:20px">{{ article.publish }}</span>
        </p>
        <div>{{ article.body }}</div>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>广告</h2>
        <p>测试学习链接</p>
        <img width="100px" src="{% static 'images/测试.jpg' %}">
    </div>
</div>
{% endblock %}

